.lt__products {
    background: linear-gradient(125deg, rgba(3, 0, 55, 1) 16%, rgba(31, 98, 158, 1) 48%, rgba(0, 188, 212, 1) 80%, rgba(0, 255, 59, 1) 100%);
    display: flex;
    flex-direction: column;
}

.lt__products-product {
    display: flex;
    flex-direction: row;
    align-items: space-evenly;
    margin-top: 2rem;
}


.lt__products-heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 4rem 0 2rem;
}

.lt__products-heading h1 {
    color: white;
    font-size: 46px;
    line-height: 57px;
    font-weight: 800;
    font-family: var(--font-family);
}

.lt__products-heading p {
    color: white;
    font-size: 28px;
    line-height: 46px;
    font-weight: 500;
    font-family: var(--font-family);
}

@media screen and (max-width: 1700px) {
    .lt__products-product {
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media screen and (max-width: 1500px) {
    .lt__products {
        padding: 2rem !important;
    }

}




@media screen and (max-width: 750px) {
    .lt__products-product {
        flex-direction: column;
    }

    .lt__products-heading h1 {
        font-size: 27px;
        line-height: 33px;

    }

    .lt__products-heading p {
        font-size: 14px;
        line-height: 24px;
    }
}

@media screen and (max-width: 550px) {
    .lt__products-heading {
        flex-direction: column;
    }
}